<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">

<!-- start menu_product -->
        <li class="admin-parent">
          <a class="am-cf {am-collapsed}" data-am-collapse="{target: '#collapse-nav{index}'}">
          <span class="am-icon-th-large"></span> {title} 
          <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
            <ul class="am-list admin-sidebar-sub am-collapse {am-in}" id="collapse-nav{index}" style="{height}">

            <!-- start list -->
            <li>
            <a href="{php}">
            <span class="am-icon-file"></span> {title}
            </a>
            </li>
            <!-- end list -->

          </ul>
        </li>
<!-- end menu_product -->
     


<!-- start menu_order -->
        <li class="admin-parent">
          <a class="am-cf {am-collapsed}" data-am-collapse="{target: '#collapse-nav{index}'}">
          <span class="am-icon-th-large"></span> {title} 
          <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
            <ul class="am-list admin-sidebar-sub am-collapse {am-in}" id="collapse-nav{index}" style="{height}">

            <!-- start list -->
            <li>
            <a href="{php}">
            <span class="am-icon-file"></span> {title}
            </a>
            </li>
            <!-- end list -->

          </ul>
        </li>
<!-- end menu_order -->



<!-- start menu_user -->
        <li class="admin-parent">
          <a class="am-cf {am-collapsed}" data-am-collapse="{target: '#collapse-nav{index}'}">
          <span class="am-icon-th-large"></span> {title} 
          <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
            <ul class="am-list admin-sidebar-sub am-collapse {am-in}" id="collapse-nav{index}" style="{height}">

            <!-- start list -->
            <li>
            <a href="{php}">
            <span class="am-icon-file"></span> {title}
            </a>
            </li>
            <!-- end list -->

          </ul>
        </li>
<!-- end menu_user -->



<!-- start menu_marketing -->
        <li class="admin-parent">
          <a class="am-cf {am-collapsed}" data-am-collapse="{target: '#collapse-nav{index}'}">
          <span class="am-icon-th-large"></span> {title} 
          <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
            <ul class="am-list admin-sidebar-sub am-collapse {am-in}" id="collapse-nav{index}" style="{height}">

            <!-- start list -->
            <li>
            <a href="{php}">
            <span class="am-icon-file"></span> {title}
            </a>
            </li>
            <!-- end list -->

          </ul>
        </li>
<!-- end menu_marketing -->




<!-- start menu_article -->
        <li class="admin-parent">
          <a class="am-cf {am-collapsed}" data-am-collapse="{target: '#collapse-nav{index}'}">
          <span class="am-icon-th-large"></span> {title} 
          <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
            <ul class="am-list admin-sidebar-sub am-collapse {am-in}" id="collapse-nav{index}" style="{height}">

            <!-- start list -->
            <li>
            <a href="{php}">
            <span class="am-icon-file"></span> {title}
            </a>
            </li>
            <!-- end list -->

          </ul>
        </li>
<!-- end menu_article -->





<!-- start menu_admin -->

        <li class="admin-parent">
          <a class="am-cf {am-collapsed}" data-am-collapse="{target: '#collapse-nav{index}'}">
          <span class="am-icon-gear"></span> 基本配置 
          <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
            <ul class="am-list admin-sidebar-sub am-collapse {am-in}" id="collapse-nav{index}" style="{height}">

              <!-- start list -->
              <li>
              <a href="{php}">
              <span class="am-icon-file"></span> {title}
              </a>
              </li>
              <!-- end list -->

           </ul>
        </li>

<!-- end menu_admin -->




      </ul>

    </div>
  </div>

